
<div class="container is-fluid">
    <!-- <div class="notification"> -->
<header>
  
  
    <nav class="navbar">
      <a class="navbar-item" routerLink="/">Home</a>
      

      <span class="navbar-item" *ngIf = "!getUserService().currentUser" >
          <a class="navbar-item"  routerLink="/signup">Sign Up</a>
        
          <a  class="navbar-item" routerLink="user/login">Log In</a>
      </span>
      
      <span class="navbar-item" *ngIf = "getUserService().currentUser">
          <a class="navbar-item" routerLink="/{{getUserService().currentUser.role}}/{{getUserService().currentUser._id}}">Profile</a>
          <a class="navbar-item" routerLink="/{{getUserService().currentUser.role}}/{{getUserService().currentUser._id}}/courses">My Courses</a> 
          
          <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <a class="navbar-item" aria-haspopup="true" aria-controls="dropdown-menu4">
                  <span>Categories</span>
                  <span class="icon is-small">
                    <i class="fas fa-globe" aria-hidden="true"> </i>
                  </span>
                </a>
              </div>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                      <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                          <div class="dropdown-content">
                            <a href="#" class="dropdown-item">
                              Development
                            </a>
                            <a href="#" class="dropdown-item">
                              Business
                            </a>
                            <a href="#" class="dropdown-item">
                              Software Development
                            </a>
                            <a href="#" class="dropdown-item">
                              Personal Development
                            </a>
                            <a href="#" class="dropdown-item">
                              Design
                            </a>
                            <a href="#" class="dropdown-item">
                              Marketing
                            </a>
                            <a href="#" class="dropdown-item">
                              Lifestyle
                            </a>
                            <a href="#" class="dropdown-item">
                              Photography
                            </a>
                            <a href="#" class="dropdown-item">
                               Health & Fitness
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                              More
                            </a>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>

              <!-- <p class='control has-addons navbar-item'> -->
                  <input class='input navbar-item' placeholder='Search Courses' style='width: 60% !important' type='text'>
                  <a class='navbar-item'>
                    Search
                  </a>
                
              
            
          
          <b class="navbar-item"> Hello {{getUserService().currentUser.firstName}}</b>          
          <a class=" button navbar-item is-danger" (click)="logoutClick()">Log Out</a>
        </span>
    </nav>
  </header>

  <a *ngIf = "getUserService().currentUser"  class="navbar-item" routerLink="/admin">Admin</a>        
  

<router-outlet></router-outlet>

<!-- </div> -->
  
</div>