<div class="image">
    <h4 class="title">{{course?.name}} </h4>
    
    <img src ={{course?.image}} width="300px" alt="">
  </div>

  <div class="info">
    <p><b>language:</b>  {{course?.language}}</p>
    <p><b>Category: </b> {{course?.category}}</p>
    <!-- <p><b>Director:</b> {{movieInfo?.director}}</p>
    <p><b>Actors:</b> {{movieInfo?.actors}}</p>
    <p><b>Schedule:</b> {{movieInfo?.hours}}</p> -->
    <p><b>Description:</b> <br> {{course?.description}}}</p>
    <!-- <a class="btn btn-danger lstBtn" routerLink="/home">Home</a> -->
  </div>
