<!-- <div class='section profile-heading'>
    <div class='columns is-mobile is-multiline'>
      <div class='resizing column is-2'>
        <span class='header-icon image is-128x128 user-profile-image'>
  <img  src={{course?.image}}> -->
  <!-- <img alt='' src='http://placehold.it/300x225'> -->
        <!-- </span>
      

      </div>
      <div class=' billy '>
        <p>
          <span class='title is-bold'>{{course?.name}}</span>
          <br>
          <a class ='button is-primary is-outlined' (click)="courseOn()" id ='edit-course' style ='margin: 5px 0'>
            Edit Course
          </a>
          <br>
        </p>
        <p class='tagline'>
          {{course?.description}}
        </p>
      </div> -->



      <div class="image">
          <h4 class="title">{{course?.name}} </h4>
          
          <img src ={{course?.image}} width="300px" alt="">
        </div>
      
        <div class="info">
          <p><b>language:</b>  {{course?.language}}</p>
          <p><b>Category: </b> {{course?.category}}</p>
          <!-- <p><b>Director:</b> {{movieInfo?.director}}</p>
          <p><b>Actors:</b> {{movieInfo?.actors}}</p>
          <p><b>Schedule:</b> {{movieInfo?.hours}}</p> -->
          <p><b>Description:</b> <br> {{course?.description}}}</p>
          <!-- <a class="btn btn-danger lstBtn" routerLink="/home">Home</a> -->
        </div>



