.bk{
  background-color: red
}

.stuTeac{
  width: 500px;
  margin-left: 30%;
  margin-top: 20%;
}

.choiceBtn{
  width: 200px;
  height: 200px;
}

.center{
  width: 500px;
}

.buttonn{
  margin-left: 40%;
}

.texCen{
  margin-left: 38%;  
}